<div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconNewPage">${addBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconRemoveFormat">${editBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconDelete">${delBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconSave">${saveBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconCancel">${cancelBtn}</div>
</div>
