<div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconNewPage" dojoAttachEvent="onClick: addAction">${addBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconRemoveFormat" dojoAttachEvent="onClick: editAction">${editBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconDelete" dojoAttachEvent="onClick: delAction">${delBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconSave" dojoAttachEvent="onClick: saveAction">${saveBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconCancel" dojoAttachEvent="onClick: cancelAction">${cancelBtn}</div>
</div>
