
    <table>
        <tr>
            <td>Employee Name</td>
            <td>
                <input dojoType="dijit.form.TextBox" dojoAttachPoint="pegawaiNameNode" value="${pegawaiName}" />
            </td>
        </tr>
        <tr>
            <td>Employee Address</td>
            <td>
                <input dojoType="dijit.form.TextBox" dojoAttachPoint="alamatNode" value="${alamat}"></div>
            </td>
        </tr>
        <tr>
            <td>
                <button dojoType="dijit.form.Button" 
                    dojoAttachPoint="btnLabelNode" dojoAttachEvent="onClick: go">${btnLabel}</button>
            </td>
        </tr>
    </table>
